[submodule "third_party/harbor"]
	path = third_party/harbor
	url = https://github.com/laude-institute/harbor.git
[submodule "third_party/terminal-wrench"]
	path = third_party/terminal-wrench
	url = https://github.com/few-sh/terminal-wrench.git
